// @import '../app/App.scss';
@import "../layout/login/layout.scss";
@import "../layout//task/task.scss";
@import "../login/login.scss";



html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  ;
}




